# Node modules
node_modules

# Build artifacts
dist
.build
build

# Cache files
.cache

# Ignore all environment files except .env.sample
!.env.sample
.env*

# macOS specific files
.DS_Store

# VS Code (general)
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
*.code-workspace

# error logs
yarn-error.log