@import 'variables';
@import 'utils';

.background-break-container {
  margin: auto;
  // @TODO: Remove extra margin
  margin-bottom: 5000px;
  border-bottom-left-radius: pxToVw(40);
  border-bottom-right-radius: pxToVw(40);
  overflow: hidden;
}
