@import 'variables';
@import 'utils';

.contact-section {
  margin: pxToVw(80) auto 0;
  max-width: pxToVw(695);
  position: relative;

  h2 {
    text-align: center;
  }

  form,
  .success-state {
    transition: opacity 0.25s ease;
  }

  .success-state {
    z-index: 0;
    opacity: 0;

    &,
    .lottie-player {
      position: absolute;
      top: 0;
      left: 0;
    }

    .lottie-player {
      margin-top: pxToVw(40);
    }
  }

  &.--email-sent {
    form {
      opacity: 0;
      pointer-events: none;
      user-select: none;
    }

    .success-state {
      opacity: 1;
    }
  }

  &,
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  form {
    gap: pxToVw(24);
    margin-top: pxToVw(24);
    width: 100%;
    z-index: 1;

    & > div {
      width: 100%;
      max-width: pxToVw(595);
    }
  }

  .error {
    &-message {
      color: $error;
      font-family: $font-secondary;
      font-size: pxToVw(14);
      padding: pxToVw(4) pxToVw(4) 0;
    }
  }

  input,
  textarea {
    all: unset;
    box-sizing: border-box;
    background: $base-black;
    border-radius: pxToVw(16);
    width: 100%;
    padding: pxToVw(16);
    color: $base-white;

    &::selection {
      background-color: rgba($base-white, 0.1);
    }

    &::placeholder {
      color: $gray-light;
      font-size: pxToVw(14);
    }

    &:active,
    &:focus {
      outline: pxToVw(4) solid $accent-one;
    }

    &.--error {
      outline-color: $error;
    }

    &:disabled {
      cursor: not-allowed;
      background: rgba($base-black, 0.9);
    }
  }

  .submit-button {
    background: $base-black;
    color: $gray-light;
    height: 3.184vw;
    width: 15.278vw;
    border-radius: calc(1px * infinity);
    font-size: 1.25vw;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: color 0.35s;
    position: relative;

    &:disabled {
      cursor: not-allowed;
      color: $gray-dark;
    }

    &:hover:not(:disabled) {
      color: $base-white;
    }

    .loader {
      @include absolute-center;
      opacity: 0;
    }

    span,
    .loader {
      transition: opacity 0.25s ease;
    }

    &--is-loading {
      span {
        opacity: 0;
      }

      .loader {
        opacity: 1;
      }
    }
  }
}
