@font-face {
  font-family: "AvenirNext";
  src: url("/fonts/AvenirNextCyr-Regular.woff2") format("woff2"),
    url("/fonts/AvenirNextCyr-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.woff2") format("woff2"),
    url("/fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
