@import 'variables';
@import 'utils';

.footer {
  margin: pxToVw(100) 0 pxToVw(30);
  display: flex;
  justify-content: space-between;

  &__links-container {
    display: flex;
    gap: pxToVw(40);
    position: relative;
    z-index: 1;
  }

  &__link,
  &__note {
    display: flex;
    align-items: center;
    justify-content: center;
    height: pxToVw(30);
    position: relative;

    &::before {
      content: ' ';
      position: absolute;
      border-top: pxToVw(1) solid $gray-light;
      top: 50%;
      background: $gray-light;
      z-index: -1;
    }
  }

  &__note {
    background: $gray-light;
    border-radius: calc(1px * infinity);
    color: $base-white;
    padding-left: pxToVw(40);
    max-width: max-content;
    z-index: 1;

    &::before {
      width: pxToVw(60);
      left: 100%;
    }

    img {
      height: 90%;
      width: auto;
      margin: pxToVw(-22) pxToVw(-30) 0 pxToVw(5);
      border-left: pxToVw(2) solid rgba($gray-dark, 0.35);
      transform: rotate(-15deg);
    }
  }

  &__link {
    gap: pxToVw(6);
    width: pxToVw(150);
    // @TODO: Check if this can be done without !important
    color: $gray-light !important;
    border: pxToVw(1) solid $gray-light;
    border-radius: calc(1px * infinity);

    background: $base-white;
    transition:
      color 0.15s ease,
      border-color 0.15s ease;

    svg {
      width: pxToVw(16);
      height: auto;
      transition: scale 0.15s ease;
    }

    &::before {
      width: 100%;
      left: -100%;
    }

    &:hover {
      color: $gray-dark !important;

      svg {
        scale: 1.1;
      }
    }
  }
}
