@import 'variables';
@import 'utils';

.hero {
  &__intro {
    margin: pxToVw(201) 0 0.694vw;
  }

  &__headline {
    display: flex;
    flex-direction: column;

    &__item--one {
      margin-left: -0.0628em;
    }

    &__item--two {
      align-self: flex-end;
      margin-top: 1.25vw;
      margin-right: -0.0628em;
    }
  }

  &__description {
    max-width: 34.722vw;
    margin-top: -8.056vw;
  }

  &__strip {
    display: block;
    position: absolute;
    transform: rotate(-33deg);
    border-radius: calc(1px * infinity);

    &--one {
      width: 39.2vw;
      height: 2.581vw;
      top: 7vw;
      right: -1.38vw;
      background: $accent-one;
    }

    &--two {
      width: 22.84vw;
      height: 2.77vw;
      top: 10vw;
      right: -4.86vw;
      border: 0.139vw solid $accent-one;
      box-sizing: content-box;
    }
  }
}
