html,
body {
  margin: 0;
  padding: 0;
  height: 100%;

  * {
    box-sizing: border-box;
  }
}

// Apply font families to elements
body {
  background: $base-black;
  font-family: $font-primary;
  margin: auto;
  letter-spacing: 0.06em;
  line-height: 1.5;
  font-size: max(pxToVw(16), 16px);

  // @TODO: Remove when wip overlay is removed
  @include media('md') {
    overflow: hidden;
  }
}

.root-container {
  position: relative;
  overflow: clip;
}

.container {
  padding: 0 3.472vw;
  overflow: hidden;

  &--primary {
    background: $base-black;
  }

  &--secondary {
    background: $base-white;
  }

  &--full-width {
    padding: 0;
  }
}

::selection {
  color: $accent-one;
  background-color: rgba($base-white, 0.1);
}

ul,
button {
  all: unset;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

.wip-label {
  top: 0;
  position: sticky;
  padding: 0.25vw 6vw;
  z-index: 100;
  background: $black;
  color: $accent-one;
  font-weight: 500;
  text-align: center;
}

.wip-overlay {
  position: fixed;
  background: $base-black;
  z-index: -1;
  opacity: 0;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 50px 0;
  overflow: scroll;

  .lottie-player {
    margin: auto;
    max-width: 500px;
  }

  &__message {
    margin-top: clamp(-200px, -30vw, 0px);
    text-align: center;
    width: 100%;

    p {
      margin-top: 20px;
      color: $accent-one !important;
    }
  }

  @include media('md') {
    opacity: 1;
    z-index: 999;
  }
}
