html,
body {
  margin: 0;
  padding: 0;
  height: 100%;

  * {
    box-sizing: border-box;
  }
}

// Apply font families to elements
body {
  background: $base-black;
  font-family: $font-primary;
  margin: auto;
  padding: 2.778vw 3.472vw;
  letter-spacing: 0.06em;
  line-height: 1.5;
  font-size: 1.111vw;
  overflow-x: clip;

  // @TODO: Remove this after adding sections below the rolling carousel
  padding-bottom: 6000px;
}

::selection {
  color: $accent-one;
  background-color: rgba($base-white, 0.1);
}
