html,
body {
  margin: 0;
  padding: 0;
  height: 100%;

  * {
    box-sizing: border-box;
  }
}

// Apply font families to elements
body {
  background: $base-black;
  font-family: $font-primary;
  margin: auto;
  padding: 2.778vw 3.472vw;
  letter-spacing: 0.06em;
  line-height: 1.5;
  font-size: 1.111vw;
  overflow-x: clip;
  padding-bottom: 3000px;
}

.two-col-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
