.nav {
  position: fixed;
  bottom: 6.122vw;
  right: 3.472vw;
  display: flex;
  align-items: center;
  z-index: 2;
  transition:
    top 0.5s,
    bottom 0.5s;

  &.--dark {
    bottom: pxToVw(30);
    right: pxToVw(50);
  }

  &__link--hire,
  &__link--resume {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.184vw;
    width: 15.278vw;
    border-radius: calc(1px * infinity);
    border: 0.139vw solid $base-white;
    font-size: 1.25vw;
    transition:
      background-color 0.35s,
      color 0.35s,
      width 0.35s,
      height 0.35s,
      border-color 0.35s,
      font-size 0.35s,
      transform 0.3s;

    &.--dark {
      height: 2.184vw;
      width: 10.278vw;
      font-size: pxToVw(14);
    }
  }

  &__link--hire {
    order: 1;
    z-index: 1;
    will-change: transform;
    color: $base-white;
    transform: translateX(100%);
    background: $base-black;

    // Avoiding BEM for --dark modified for ease of toggling
    &.--dark {
      color: rgba($gray-light, 0.75);
      border-color: rgba($gray-light, 0.5);
    }

    &:hover {
      transform: translateX(21%);
    }
  }

  &__link--resume {
    order: 2;
    z-index: 2;
    background: $base-white;
    color: $base-black;

    // Avoiding BEM for --dark modified for ease of toggling
    &.--dark {
      /* @TODO: Create a reusable variable if used more than 2 times */
      background: rgb(29, 29, 29);
      border-color: rgba($gray-light, 0.75);

      &,
      &:hover {
        color: rgba($gray-light, 0.75);
      }
    }

    &:hover {
      color: initial;

      & ~ .nav__link--hire {
        transform: translateX(21%);
      }
    }
  }
}
