@import 'variables';
@import 'utils';

.skills-section {
  display: flex;
  flex-direction: column;
  // row-gap: pxToVw(40);
  margin: 9.027vw 0;
}

.skills-row {
  display: flex;
  // gap: 2vw;
  width: max-content;

  &:nth-child(even) {
    align-self: flex-end;

    &,
    .skills-list,
    ul {
      flex-direction: row-reverse;
    }
  }
}

.skills-list {
  display: flex;
  // gap: 4.16vw;
  align-items: center;
  flex-shrink: 0;

  ul {
    display: flex;
    // gap: 4.16vw;
  }

  &__title {
    flex-shrink: 0;
    background: rgba($gray-dark, 0.75);
    padding: 0.25vw 2.16vw;
  }

  &__item {
    display: inline;
    border: 1px solid $base-black;
    background: rgba($gray-dark, 0.2);
    padding: 1vw 4.16vw;

    &__logo {
      height: 1.75vw;
      color: $base-white;

      svg {
        height: 100%;
        width: auto;
      }
    }
  }
}
