@import 'utils';
@import 'variables';

.testimonials-section {
  margin: pxToVw(100) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: pxToVw(16);
}

.testimonials-container {
  background: $gray-light;
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
  border-radius: pxToVw(24);
  padding: pxToVw(20) pxToVw(25);
  gap: pxToVw(25);
}

.testimonial {
  background: $base-black;
  flex-shrink: 0;
  max-width: pxToVw(500);
  border-radius: pxToVw(16);
  padding: pxToVw(20) pxToVw(16);
  box-shadow: -4px 4px 4px 0px rgba($gray-dark, 0.5);

  &__intro {
    display: flex;
    margin-bottom: pxToVw(8);
    gap: pxToVw(20);
    align-items: center;
  }

  &__name {
    color: $base-white;
  }

  &__image {
    height: pxToVw(100);
    width: pxToVw(100);
    display: block;
    border-radius: 100%;
  }

  &__blurred-text {
    filter: blur(pxToVw(1.25));
  }

  &__excerpt {
    color: $base-white;
  }
}
