// Absolutely centers element relative to closest positioned parent
@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// @TODO: Uptade all vw values to use this function
// Converts a pixel value to vw units based on a 1440px wide screen.
@function pxToVw($px) {
  @return ($px / 1440) * 100vw;
}
