// font family variables
$font-primary: 'Avenir Next', 'Avenir', 'Segoe UI', 'Helvetica Neue', 'Arial',
  'sans-serif';
$font-secondary: 'Poppins', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial',
  'sans-serif';

// colors
$black: #000;
$base-white: #f5f5f5;
$base-black: #121212;
$gray-light: #a6a6a6;
$gray-dark: #3d3d3d;
$accent-one: #cf0;
$accent-two: #0ff;
$error: #e74c3c;

// font weights
$fw-regular: 400;
$fw-bold: 700;
