@import 'variables';
@import 'utils';

.work-locations-container {
  min-height: 100vh;
  display: flex;
  margin: 11.111vw 0;
  align-items: center;
  gap: 5.556vw;
  position: relative;
  border-top: pxToVw(2) solid $gray-dark;
  background: linear-gradient(270deg, $base-black 0%, $gray-dark 100%);
  padding: 0 3.472vw;
  overflow: hidden;

  h2 {
    display: flex;
    flex-direction: column;
  }

  .work-locations {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex: 1;
    text-align: center;
    align-items: center;
    row-gap: 11.111vw;

    svg {
      position: absolute;
      pointer-events: none;
      top: -5vw;
      right: -25vw;
      width: 60vw;
      height: auto;
      opacity: 0;
      filter: blur(5px);
      transition:
        opacity 0.3s ease-in-out,
        right 0.3s ease-in-out;
    }

    &__location {
      p {
        transition:
          scale 0.3s ease-in-out,
          color 0.3s ease-in-out;
      }

      &:hover {
        p {
          color: $base-white;
          scale: 0.9;
          cursor: default;
        }

        svg {
          opacity: 0.05;
          right: -5vw;
        }
      }
    }
  }
}
